/* content: "welcome---message--editable"; */

%input---user--welcome {
    
    padding: 2px 0px;
    background: none;
    border: none;
    outline: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: border-bottom .3s;
    font-size: 16px;
    font-weight: bold;
    color: #810202;

    cursor: pointer;            
    transition: background .3s;    

    &:focus {

        outline: none;
        background: #c24141;
        background: $bg---body;
        border-bottom: #c24141 solid 2px;

    }

    &:hover {

        /* border: solid 2px #c24141; */
        border-bottom: #ed5959 solid 2px;
        /* background: lightyellow; */
        background: lighten($bg---body, 6%);
    }

    &::placeholder {

        color: #616161;
        font-style: italic;
    }

}