// config variables

$bg---header: #212121;
$bg---footer: $bg---header;

$bg---body: #cdcccc;
$bg---section--qotd: #ffe79d;
$bg---section--dashboards: wheat; // wheat
$bg---section--weather-fetch: wheat; // #ffe79d

$col---primary: #323232;  // #000
$col---secondary: #fff;
$col---tertiary: #fff;

$url---col--primary: #ffd53e;
$url---col--primary-hover: white;

$url---col--secondary: gray;
$url---col--secondary-hover: #990202;

$url---col---footer: white;
$url---col---footer-hover: yellow;

$url---secondary: #fff;

// theme option selector colours
$theme---option--one: #ff3c3c;
$theme---option--two: #a6ff58;
$theme---option--three: #2a83ff;
$theme---option--four: #c3c3c3;
$theme---option--border-one: red;
$theme---option--border-two: green;
$theme---option--border-three: blue;
$theme---option--border-four: #757575;

$tooltip---colour: #f78d8d;
$tooltip---background: #000000cc;
$tooltip---border: solid 1px gray;

// Font stack
$font---main: Arial, Helvetica, sans-serif;

// Font config variables

$font---size--large: 20pt;
$font---size--medium: 16px;
$font---size--sm: 12px;
$font---size--small: 10px;

$font---size--h1: 20pt;
$font---size--h2: 16px;
$font---size--h3: 12pt;


$bg---section--toggle-btn: yellow;
$bg---section--toggle-btn-hover: #676353;
$bg---section--toggle-btn-active: none;

$bg---dashboard--panel-header-bg: linear-gradient(0deg, #3a3939 -25%, var(--bg-dashboard) 4%);

$bg---section--toggle-btn-secondary: #ffec88;
$bg---section--toggle-btn-secondary-hover: lightblue;

$col---section--toggle-btn: #980303;
$col---section--toggle-btn-hover: yellow;
$col---section--toggle-btn-active: yellow;

// Modal Area Colours

$bg---modal--header: linear-gradient(0deg, #3a3939 -25%, wheat 4%);
$bg---modal--content: #ffffff;
$bg---modal--footer: linear-gradient(0deg, #3a3939 -25%, wheat 4%);
$bg---modal--btn-confirm: #ffcb21;
$bg---modal--btn-confirm-hvr: #fdfd8a;
$col---modal--btn-confirm: #980303;
$col---modal--btn-confirm-hvr: #630404;

// Breakpoint variables
$breakpoint---xs: 480px;
// $breakpoint---sm: 576px;
$breakpoint---md: 768px;
$breakpoint---lg: 992px;
// $breakpoint---xl: 1200px;