// config variables

$bg---header: #000000;
$bg---body: #fff;

$col---primary: #000;
$col---secondary: #fff;

$url---col--primary: #ffd53e;
$url---col--primary-hover: white;
$url---secondary: #fff;

// Font stack
$font---main: Arial, Helvetica, sans-serif;

// Font config variables

$font---size--large: 20pt;
$font---size--medium: 14px;
$font---size--small: 10px;

$font---size--h2: 20px;

// theme option selector colours
$theme---option--one: #ff3c3c;
$theme---option--two: #a6ff58;
$theme---option--three: #2a83ff;
$theme---option--border-one: red;
$theme---option--border-two: green;
$theme---option--border-three: blue;

$tooltip---colour: #f78d8d;
$tooltip---background: rgba(0, 0, 0, 0.8);
$tooltip---border: solid 1px gray;

// Breakpoint variables
$breakpoint---xs: 480px;
// $breakpoint---sm: 576px;
$breakpoint---md: 768px;
$breakpoint---lg: 992px;
// $breakpoint---xl: 1200px;