// config variables

$bg---header: #212121;
$bg---footer: $bg---header;

$bg---body: #cdcccc;
$bg---section--qotd: #ffe79d;
$bg---section--dashboards: wheat; // wheat
$bg---section--weather-fetch: wheat; // #ffe79d

$col---primary: #323232;  // #000
$col---secondary: #fff;

$url---col--primary: #ffd53e;
$url---col--primary-hover: white;

$url---col--secondary: gray;
$url---col--secondary-hover: #990202;

$url---col---footer: white;
$url---col---footer-hover: yellow;

$url---secondary: #fff;
// theme option selector colours
$theme---option--one: #ff3c3c;
$theme---option--two: #a6ff58;
$theme---option--three: #2a83ff;
$theme---option--four: #c3c3c3;
$theme---option--border-one: red;
$theme---option--border-two: green;
$theme---option--border-three: blue;
$theme---option--border-four: #757575;

$tooltip---colour: #f78d8d;
$tooltip---background: #000000cc;
$tooltip---border: solid 1px gray;

// Font stack
$font---main: Arial, Helvetica, sans-serif;

// Font config variables

$font---size--large: 20pt;
$font---size--medium: 16px;
$font---size--small: 10px;

$font---size--h1: 20pt;
$font---size--h2: 16px;


// Breakpoint variables
$breakpoint---xs: 480px;
// $breakpoint---sm: 576px;
$breakpoint---md: 768px;
$breakpoint---lg: 992px;
// $breakpoint---xl: 1200px;