%btn---dashboard--reset {

    border: solid 1px white;
    border-radius: 6px;
    padding: 5px;
    color: #980303;
    background: #fdfd8a;
    text-decoration: none;
    position: relative;
    top: 2px;

    transition: color .3s, background .3s;

    &:hover {

        background: #ffcb21;
        color: #630404;
    }

}