/* btn---section--collapse.scss */

// TODO: style toggle buttons in footer

%btn---dashboard--toggles {

    border: solid 1px white;
    border-radius: 6px;
    padding: 5px;
    background: yellow;
    color: #980303;
    text-decoration: none;
    position: relative;
    top: 2px;

    transition: background .3s;

    &:hover {

        background: #676363;
        background: darken(yellow, 10%);
        background: none;
        background: #676363;
    }

    &.toggled---inactive {

        color: yellow;
        background: none;
    }

}