/* btn---button---dashboards.scss */

// TODO: style toggle buttons in footer

%btn---dashboard--actions {

    border: solid 1px red;
    padding: 3px;
    margin: 7px;
    position: relative;
    top: 6px;
    border-radius: 5px;
    font-size: 13px;
}
 